.cheat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    padding: 2em;
    margin: 5px;
}

.category ul{
    margin: 0;
    padding: 0;
    list-style: none;
}